@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0.5; }
}

.blink {
  animation: blink 3s infinite;
}

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.3396 0.0813 57.98);
  --primary-foreground: oklch(0.79 0.0894 81.15);
  --secondary: oklch(0.9400 0 0);
  --secondary-foreground: oklch(0.2500 0 0);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.4400 0 0);
  --accent: oklch(0.9214 0.0248 257.6500);
  --accent-foreground: oklch(0.2571 0.1161 272.2400);
  --destructive: oklch(0.5800 0.2200 27);
  --destructive-foreground: oklch(0.9700 0.0140 254.6040);
  --border: oklch(0.9200 0 0);
  --input: oklch(0.9400 0 0);
  --ring: oklch(0.5144 0.1605 267.4400);
  --chart-1: oklch(0.9214 0.0248 257.6500);
  --chart-2: oklch(0.7597 0.0804 267.0100);
  --chart-3: oklch(0.6083 0.1247 272.7200);
  --chart-4: oklch(0.5144 0.1605 267.4400);
  --chart-5: oklch(0.2571 0.1161 272.2400);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2046 0 0);
  --sidebar-primary: oklch(0.5144 0.1605 267.4400);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9214 0.0248 257.6500);
  --sidebar-accent-foreground: oklch(0.2571 0.1161 272.2400);
  --sidebar-border: oklch(0.9200 0 0);
  --sidebar-ring: oklch(0.5144 0.1605 267.4400);
  --font-sans: Lexend, sans-serif;
  --font-default: Geist, sans-serif;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0.25px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1448 0 0);
  --card-foreground: oklch(0.9461 0 0);
  --popover: oklch(0.1448 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.5144 0.1605 267.4400);
  --primary-foreground: oklch(0.9700 0.0140 254.6040);
  --secondary: oklch(0.2500 0 0);
  --secondary-foreground: oklch(0.9400 0 0);
  --muted: oklch(0.2300 0 0);
  --muted-foreground: oklch(0.7200 0 0);
  --accent: oklch(0.3200 0 0);
  --accent-foreground: oklch(0.9214 0.0248 257.6500);
  --destructive: oklch(0.7040 0.1910 22.2160);
  --destructive-foreground: oklch(0.9700 0.0140 254.6040);
  --border: oklch(0.2600 0 0);
  --input: oklch(0.3200 0 0);
  --ring: oklch(0.5144 0.1605 267.4400);
  --chart-1: oklch(0.9214 0.0248 257.6500);
  --chart-2: oklch(0.7597 0.0804 267.0100);
  --chart-3: oklch(0.6083 0.1247 272.7200);
  --chart-4: oklch(0.5144 0.1605 267.4400);
  --chart-5: oklch(0.2571 0.1161 272.2400);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.9461 0 0);
  --sidebar-primary: oklch(0.5144 0.1605 267.4400);
  --sidebar-primary-foreground: oklch(0.9700 0.0140 254.6040);
  --sidebar-accent: oklch(0.3200 0 0);
  --sidebar-accent-foreground: oklch(0.9214 0.0248 257.6500);
  --sidebar-border: oklch(0.2600 0 0);
  --sidebar-ring: oklch(0.5144 0.1605 267.4400);
  --font-sans: Geist, sans-serif;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0.25px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: oklch(0.2571 0.1161 272.24);
  --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
  --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
  --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}